{{ form_start(form) }}

    {#AFFICHAGE DES ERREURS#}
    {% if errors is defined %}
        {% if errors|length > 0 %}
            <div class="alert alert-danger" style="font-size: 15px">
                {% for error in errors %}
                    {{ error }} .<br>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}

    {#CHAMP DE RECHERCHE#}
    {% if errors.q is defined %}
        {{ form_widget(form.q,{'value': null}) }}
    {% else %}
        {{ form_widget(form.q) }}
    {% endif %}

{#CHAMP CATEGORIES#}
<h4>Catégories</h4>
{{ form_row(form.categories) }}

<h4>Prix</h4>
<div class="form-row">
    <div class="col-md-6">

        {#CHAMP PRIX MINIMUM#}
        {% if errors.min is defined %}
            {{ form_widget(form.min, {'value': null}) }}
        {% else %}
            {{ form_widget(form.min) }}
        {% endif %}
    </div>
    <div class="col-md-6">

        {#CHAMP MAXIMUM#}
        {% if errors.max is defined %}
            {{ form_widget(form.max, {'value': null}) }}
        {% else %}
            {{ form_widget(form.max) }}
        {% endif %}
    </div>
</div>

{#CHAMP NOUISLIDER POUR SLIDER LES PRIX#}
<div id="price-slider" data-min="{{ min }}" data-max="{{ max }}"></div>

<h4>Promotion</h4>
{{ form_row(form.promo) }}

<button type="submit" class="btn btn-primary w-100">Filtrer</button>
{{ form_end(form) }}