{% extends 'Advert/layout.html.twig' %}
{% block title %} Supprimer une annonce - {{ parent() }} {% endblock %}
{% block body %}
    <h2>Supprimer une annonce</h2>
    <p>
        Êtes-vous certain de vouloir supprimer l'annonce {{ advert.title }}
    </p>
    <form action="{{ path('app_platform_delete',{'id':advert.id}) }}" method="post">
        <a href="{{ path('app_platform_view',{'id':advert.id,'slug':advert.slug}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'annonce
        </a>
        <button type="submit" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer
        </button>
        {{ form_rest(form) }}
    </form>
{% endblock %}