<div class="well">
    {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
    {{ form_errors(form) }}

    {# DATE #}
    {% if form.date is defined %}
        <div class="form-group">
            {{ form_label(form.date,"Date",{'label_attr':{'class':'col-md-2 control-label'}}) }}
            {{ form_errors(form.date) }}
            <div class="col-md-10">
                {{ form_widget(form.date) }}
            </div>
        </div>
    {% endif %}

    {# TITLE #}
    <div class="form-group">
        {{ form_label(form.title,"Titre",{'label_attr':{'class':'col-md-2 control-label'}}) }}
        <div class="col-md-10">
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
        </div>
    </div>

    {# CONTENT #}
    <div class="form-group">
        {{ form_label(form.content,"Contenu",{'label_attr':{'class':'col-md-2 control-label'}}) }}
        <div class="col-md-10">
            {{ form_widget(form.content) }}
            {{ form_errors(form.content) }}
        </div>
    </div>

    {# AUTHOR #}
    <div class="form-group">
        {{ form_label(form.author,"Auteur",{'label_attr':{'class':'col-md-2 control-label'}}) }}
        <div class="col-md-10">
            {{ form_widget(form.author) }}
            {{ form_errors(form.author) }}
        </div>
    </div>

    {# PUBLISHED #}
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                {{ form_row(form.published) }}
            </div>
        </div>
    </div>

    {# CATEGORIES #}
    {% include 'Advert/categories_form.html.twig' %}

    {# IMAGE #}
    {% include 'Advert/image_form.html.twig' %}

    {# SUBMIT // SAVE #}
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            {{ form_widget(form.save,{'label':'Enregistrer','attr':{'class':'btn btn-block btn-primary'}}) }}
        </div>
    </div>

    {# CSRF TOKEN #}
    {{ form_rest(form) }}

    {{ form_end(form) }}
</div>