{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" class="btn btn-block btn-primary" />
    {{ form_end(edit_form) }}

    <ul style="margin-top: 15px;font-size: 17px;">
        <li>
            <a href="{{ path('post_index') }}" >Back to the list</a>
        </li>
        <br>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-default">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
