<div class="card mb-2">
    {% if property.imageName %}
        <img src="{{ vich_uploader_asset(property,'imageFile') | imagine_filter('thumb')}}" >
    {% else %}
        <img src="{{ asset('/images/properties/empty.png') | imagine_filter('thumb')}}" >
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('property_show',{'id': property.id,'slug': property.slug}) }}">
                {{ property.title }}
            </a>
        </h5>
        <p class="card-text">{{ property.surface }}m² - {{ property.city }} ({{ property.postalCode }})</p>
        <div class="text-primary" style="font-weight: bold;font-size: 2rem;">
            {{ property.formattedPrice }} €
        </div>
        <h6>Les options : </h6>
        {% if not property.options.empty %}
            <ul>
                {% for option in property.options %}
                    <li>{{ option.name }}</li>
                {% endfor %}
            </ul>

        {% endif %}
    </div>
</div>