<div class="jumbotron">
    <div class="container">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="form-row">
            <div class="col">
                {{ form_widget(form.minSurface) }}
                {{ form_errors(form.minSurface) }}
            </div>
            <div class="col">
                {{ form_row(form.maxPrice) }}
            </div>
            <div class="col">
                {{ form_row(form.options) }}
            </div>
            <div class="col">
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search"></i> Rechercher
                    </button>
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
</div>