{% extends "OCPlatformeBundle::layout.html.twig" %}
{% block title %}
    Supprimer une annonce - {{ parent() }}
{% endblock %}
{% block body %}
<h2>Supprimer une annonce</h2>
    <p>
        Etes-vous sûr de vouloir supprimer l'annonce {{ advert.title }} ?
    </p>
    <form action="{{ path('oc_platform_delete',{'id':advert.id}) }}" method="post">
        <a href="{{ path('oc_platform_view',{'id':advert.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'annonce
        </a>
        <button type="submit" class="btn btn-danger">Supprimer</button>
        {{ form_rest(form) }}
    </form>
{% endblock %}